 <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{% url 'index' %}">HEXA Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:articles' %}">Articles</a>
          </li>
        
        </ul>
    </div>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        
        <li class="nav-item active">
        <a href="{% url 'article:dashboard' %}" class="nav-link">{{request.user.username}}</a>
        </li>
        <li class="nav-item active">
        <a href="{% url 'article:addarticle' %}" class="nav-link">Add Article</a>
        </li>
        <li class="nav-item active">
        <a href="{% url 'user:logout' %}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item active">
        <a href="{% url 'user:login' %}"" class="nav-link">Login</a>
        </li>
        <li class="nav-item active">
        <a href="{% url 'user:register' %}" class="nav-link">Register</a>
        </li>
        {% endif %}
        
        </ul>
      </div>
    </nav>