{% extends "layout.html" %}
{% block body %}
<h1>Hakkımızda</h1>
<hr>
<p>Hexa Studios, <span style="color:green;">Unknowns</span>'un alt bir firmasıdır.
 Kurucusu <span style="color:red;">Mustafa Çetin</span>dir.
 Oyun tasarımcılığıyla uğraşır.
 Şu ana kadar çıkardıkları oyun <span style="color:red;">Argas Bird</span> ve baharda çıkacağı söylenen 
"<span style="color:red;">Hexa: The OverFlow</span>" ve bunun ek paketi "<span style="color:red;">An Argas Story</span>" oyunları mevcuttur.
 Bir de resmi olarak çıkacağı duyurulan ama tarih verilmeyen "<span style="color:red;">The Hexa: Beginning</span>" oyunları mevcuttur.</p>
 <hr>
{% endblock body %}